*{
    margin: 0;
}


/* navbar.css */
.navbar {
    background-color:blue;
    padding: 20px;
    text-align: center;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ff9800;
}
